Baby Tracker.xcworkspace/xcuserdata
*.xcsettings
Baby Tracker.xcodeproj/xcuserdata
Pods/Pods.xcodeproj/xcuserdata
BabyPatterns.xcworkspace/xcuserdata
BabyPatterns.xcodeproj/xcuserdata
*.xctimeline
BabyPatterns.xcworkspace/xcshareddata
GoogleService-Info.plist
